{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHb
<link rel="stylesheet" type="text/css" href="{% static '/css/main.css' %}"/>
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">

<title>Enrique Lavernia Lab at UC Irvine</title>
</head>
<body class="header-body">
	<div class="other">
		<a name="Top">
			<div id="banner" style="margin: 0 auto;">
				<div id="banner-content">
	 				<a href="/"><img id="banner-image" href="/"
	  			src="{% static '/images/ejl.jpg' %}"></a>
	  				<a href="http://www.provost.uci.edu/about/"><img id="banner-image2" src="{% static '/images/middle.jpg' %}"></a>
	  				
				</div>
			</div>
		<div id='cssmenu'>
		<ul>
			<li class='active'><a href='/'><span>Home</span></a></li>
			<li> <a href="/research"><span>Research</span></a></li>
			<li><a href="/people"><span>People</span></a></li>
			<li><a href="/publications"><span>Publications</span></a></li>
			<li><a href="/contact"><span>Contact</span></a></li>
		</ul>
	
		</div>
	</div>
</body>


</html>