{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
<link rel="stylesheet" type="text/css" href="{% static '/css/main.css' %}"/>
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">

<head><title>Enrique Lavernia Lab at UC Irvine</title></head>
{% include 'main/header.html' %}
<body>
	<div class="wrapper">
		<div class="container">
			<ul class="row" >
				<li class="col-lg-2 col-md-2 col-sm-3 col-sm-3 col-xs-4" style="margin-right: 150px;"><a href="research#project"><img src = "{% static '/images/placeholder.png' %}"></a></li>

				<li class="col-lg-2 col-md-2 col-sm-3 col-sm-3 col-xs-4"><img src = "{% static '/images/placeholder.png' %}"></li>

			</ul>
			<ul class="row">
				
				<li class="col-lg-2 col-md-2 col-sm-3 col-sm-3 col-xs-4" style="margin-right: 150px;"><a href="people#baolong"><img src = "{% static '/images/placeholder.png' %}"></a></li>
				
				<li class="col-lg-2 col-md-2 col-sm-3 col-sm-3 col-xs-4"><img src = "{% static '/images/placeholder.png' %}"></li>
			</ul>
		</div>
	</div>

</body>
</html>