{% load staticfiles %}

<!DOCTYPE html>
<html>
<link rel="stylesheet" type="text/css" href="/static/css/main.css">
<head><title>Enrique Lavernia Lab at UC Irvine</title>
<a name="Top">
<div id="banner">
	<div id="banner-content">
		<a href="/" class= "name_link" style="color: #FFFFFF; text-decoration: none;">E</a><a href="/" class= "name_link" style="color: #FFFFFF; text-decoration: none;">nrique Lavernia Lab at UC Irvine</a>
	 	<a href="http://engineering.uci.edu/dept/chems"><img id="banner-image" href="/"
	  	src="{% static '/images/samueli-logo.png' %}"></a>
	</div>
</div>
<div id='cssmenu'>
<ul>
	<li class='active'><a href='/'><span>Home</span></a></li>
	<li> <a href="/research"><span>Research</span></a></li>
	<li><a href="/people"><span>Facilities</span></a></li>
	<li><a href="/publications"><span>Publications</span></a></li>
	<li><a href="/gallery"><span>Gallery</span></a></li>
	<li><a href="/contact"><span>Contact</span></a></li>
</ul>
</div>



</head>

<body>



<p id="name">
<br>
<br>
<br>
<br>

Directed by Provost Enrique Lavernia, the Lavernia Research Group studies a 
variety of novel materials processing approaches.
<br>
<ul>
	<li> Elucidating the fundamental mechanisms that govern the mechanical
	respons of advanced materials</li>
	<br>
	<li>All Whilst considering the relationship between materials processing,
	phases/microstructure, and mechanical performance</li>
	<br>
</ul>
</p>

</body>
</html>