{% load staticfiles %}
<!DOCTYPE html>
<html>
<link rel="stylesheet" type="text/css" href="{% static '/css/main.css' %}"/>
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">

<head><title>Enrique Lavernia Lab at UC Irvine</title>

<a name="Top">
<div id="banner">
	<div id="banner-content">
		<a href="/" class= "name_link" style=" color: #2E5990; font-weight: bold;font-family: 'Raleway', sans-serif; text-decoration: none;">E</a><a href="/" class= "name_link" style="color: #2E5990;font-weight: bold;font-family: 'Raleway', sans-serif;  text-decoration: none;">nrique Lavernia Lab at UC Irvine</a>
	 	<a href="http://engineering.uci.edu/dept/chems"><img id="banner-image" href="/"
	  	src="{% static '/images/lavernia1.png' %}"></a>
	  	<a href="http://engineering.uci.edu/dept/chems"><img id="banner-image2" href="/"
	  	src="{% static '/images/samueli-logo.png' %}"></a>
	</div>
</div>
<div id='cssmenu'>
<ul>
	<li class='active'><a href='/'><span>Home</span></a></li>
	<li> <a href="/research"><span>Research</span></a></li>
	<li><a href="/people"><span>People</span></a></li>
	<li><a href="/publications"><span>Publications</span></a></li>
	<li><a href="/gallery"><span>Gallery</span></a></li>
	<li><a href="/contact"><span>Contact</span></a></li>
</ul>
</div>
<body>
	<div class= "w3 container" style="margin-right: 200px; margin-left: 200px;">
		<div class ="w3-display-container w3-white" style="height: 100%; ">
			<div class = "w3-display-top-left">
				<div class ="w3-card-2" style = "width:100%">
					<img src = "{% static '/images/provost_1.jpg' %}" style = "width:25%"  >
					<div class = "w3-container">
						<h4><b>Professor Enrique Lavernia</b></h4>
						<p>Provost</p>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class= "w3 container" style="margin-right: 200px; margin-left: 200px;">
		<div class ="w3-display-container w3-white" style="height: 100%; ">
			<div class = "w3-display-top-left">
				<div class ="w3-card-2" style = "width:100%">
					<img src = "{% static '/images/Yizhang Zhou.jpg' %}" style = "width:25%"  >
					<div class = "w3-container">
						<h4><b> Professor Yizhang Zhou</b></h4>
						<p>Director</p>
					</div>
				</div>
			</div>
		</div>

	</div>
	<div class= "w3 container" style="margin-right: 200px; margin-left: 200px;">
		<div class ="w3-display-container w3-white" style="height: 100%; ">
			<div class = "w3-display-top-left">
				<div class ="w3-card-2" style = "width:100%">
					<img src = "{% static '/images/Ben Macdonald.jpg' %}" style = "width:25%"  >
					<div class = "w3-container">
						<h4><b> Benjamin MacDonald </b></h4>
						<p>PhD in MSE</p>
					</div>
				</div>
			</div>
			<div class="w3-display-middle" style = "margin-left: 100px;">
				<h2>Biography</h2>
				<p  style="color:#000000; font-family: 'Raleway', sans-serif; font-size: 18px;">Benjamin pursues his graduate studies through investigation of
				fundamental phenomena in a novel materials systems, high entropy alloys.</p>
			</div>
		</div>
	</div>
	<div class= "w3 container" style="margin-right: 200px; margin-left: 200px;">
		<div class ="w3-display-container w3-white" style="height: 100%; ">
			<div class = "w3-display-top-left">
				<div class ="w3-card-2" style = "width:100%">
					<img src = "{% static '/images/James Haley.jpg' %}" style = "width:25%"  >
					<div class = "w3-container">
						<h4><b> James Haley </b></h4>
						<p>PhD in MSE</p>
					</div>
				</div>
			</div>
			<div class="w3-display-middle" style = "margin-left: 100px;">
				<h2>Biography</h2>
				<p  style="color:#000000; font-family: 'Raleway', sans-serif; font-size: 18px;">James recently transferred from UC Davis, explores understanding of the materials procesing in additive manufacturing, an emerging disruptive technology</p>
			</div>
		</div>
	</div>
	<div class= "w3 container" style="margin-right: 200px; margin-left: 200px;">
		<div class ="w3-display-container w3-white" style="height: 100%; ">
			<div class = "w3-display-top-left">
				<div class ="w3-card-2" style = "width:100%">
					<img src = "{% static '/images/Zhiqiang Fu.jpg' %}" style = "width:25%"  >
					<div class = "w3-container">
						<h4><b> Zhiqiang Fu </b></h4>
						<p>Postdoctoral Researcher</p>
					</div>
				</div>
			</div>
			<div class="w3-display-middle" style = "margin-left: 100px;">
				<h2>Biography</h2>
				<p  style="color:#000000; font-family: 'Raleway', sans-serif; font-size: 18px;">Joined Professor Lavernia's research group in August 2014 as a joint Ph.D. student. He returned as a postdoctoral researcher after he got his Ph.D degree from China in December 2015. Now he conducts research and development of novel nanostructured materials including performance of materials processing/synthesis, microstructural analysis and mechanical characterization</p>
			</div>
		</div>
	</div>
	<div class= "w3 container" style="margin-right: 200px; margin-left: 200px;">
		<div class ="w3-display-container w3-white" style="height: 100%; ">
			<div class = "w3-display-top-left">
				<div class ="w3-card-2" style = "width:100%">
					<img src = "{% static '/images/Boalong Zheng.jpg' %}" style = "width:25%"  >
					<div class = "w3-container">
						<h4><b> Baolong Zheng </b></h4>
						<p>Assistant Project Scientist</p>
					</div>
				</div>
			</div>
			<div class="w3-display-middle" style = "margin-left: 100px;">
				<h2>Biography</h2>
				<p  style="color:#000000; font-family: 'Raleway', sans-serif; font-size: 18px;">Joined Professor Lavernia's research group as a student January 2002 and received his Ph.D degreee in June 2006. He has extensive experience in materials processing and characterization, including development of non-equilibrium(nanocrystalline and amorphous) structured novel alloys and composites with laser based additive manufacuring, gas atomization and spray forming, mechanical milling and alloying, spark plasma sintering, coating, extrusion and rolling, etc.</p>
			</div>
		</div>
	</div>
	<div class= "w3 container" style="margin-right: 200px; margin-left: 200px;">
		<div class ="w3-display-container w3-white" style="height: 100%; ">
			<div class = "w3-display-top-left">
				<div class ="w3-card-2" style = "width:100%">
					<img src = "{% static '/images/Wei Zeng.jpg' %}" style = "width:25%"  >
					<div class = "w3-container">
						<h4><b> Wei Zeng </b></h4>
						<p>Visiting Ph.D candidate</p>
					</div>
				</div>
			</div>
			<div class="w3-display-middle" style = "margin-left: 100px;">
				<h2>Biography</h2>
				<p  style="color:#000000; font-family: 'Raleway', sans-serif; font-size: 18px;">Visiting from Shanghai Jiaotong University in China, his research focuses on synthesizing nanocrystalline Cu-NbC nanocomposite with excellent mechanical properties and high electrical conductivity and the strengthening/deformation mechanisms behind these superb properties.</p>
			</div>
		</div>
	</div>
	<div class= "w3 container" style="margin-right: 200px; margin-left: 200px;">
		<div class ="w3-display-container w3-white" style="height: 100%; ">
			<div class = "w3-display-top-left">
				<div class ="w3-card-2" style = "width:100%">
					<img src = "{% static '/images/Chuandong Wu.jpg' %}" style = "width:25%"  >
					<div class = "w3-container">
						<h4><b> Chuandong Wu </b></h4>
						<p>Visiting Ph.D candidate</p>
					</div>
				</div>
			</div>
			<div class="w3-display-middle" style = "margin-left: 100px;">
				<h2>Biography</h2>
				<p  style="color:#000000; font-family: 'Raleway', sans-serif; font-size: 18px;">Visiting from Wuhan University of Technology(China), he conducts research on the processing-structure-property relationship in nano-/ultrafine-/coarse-grained Al matrix composites as well as the comprehensive understanding of the interaction between the dislocations and previpitates in the precipitation-strengthened Al alloy.</p>
			</div>
		</div>
	</div>
	<div class= "w3 container" style="margin-right: 200px; margin-left: 200px;">
		<div class ="w3-display-container w3-white" style="height: 100%; ">
			<div class = "w3-display-top-left">
				<div class ="w3-card-2" style = "width:100%">
					<img src = "{% static '/images/Yanle Sun.jpg' %}" style = "width:25%"  >
					<div class = "w3-container">
						<h4><b> Yanle Sun </b></h4>
						<p>Visiting Ph.D candidate</p>
					</div>
				</div>
			</div>
			<div class="w3-display-middle" style = "margin-left: 100px;">
				<h2>Biography</h2>
				<p  style="color:#000000; font-family: 'Raleway', sans-serif; font-size: 18px;">Visiting from Shanghai Jiaotong Universitym his research focuses on the structure-property relationship, thermal stability, and precipitation behavior in nano-/ultrafine grained Ni-based alloy</p>
			</div>
		</div>
	</div>
	<div class= "w3 container" style="margin-right: 200px; margin-left: 200px;">
		<div class ="w3-display-container w3-white" style="height: 100%; ">
			<div class = "w3-display-top-left">
				<div class ="w3-card-2" style = "width:100%">
					<img src = "{% static '/images/Stoney Middleton.jpg' %}" style = "width:25%"  >
					<div class = "w3-container">
						<h4><b> Stoney Middleton </b></h4>
						<p>Master's Student</p>
					</div>
				</div>
			</div>
			<div class="w3-display-middle" style = "margin-left: 100px;">
				<h2>Biography</h2>
				<p  style="color:#000000; font-family: 'Raleway', sans-serif; font-size: 18px;">Recently graduated from UCI with a bachelor's in material science engineering. Now a master's student investigating thermodynamics and kinetic behavior of diffusion in titanium alloys with applied electric fields.</p>
			</div>
		</div>
	</div>
</body>
