{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
<link rel="stylesheet" type="text/css" href="{% static '/css/main.css' %}"/>
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
</head>
<title>Enrique Lavernia Lab at UC Irvine</title>


{% include 'main/header.html' %}
<body>
	<div class="wrapper">
    <div class= "container">
    	<div class="row">
    		<div class="col">
    		</div>
    	</div>
    </div>

	    <div class= "w3 container" style="margin-right: 200px; margin-left: 200px; margin: 0 auto;">
		    <div class ="w3-display-container w3-white" style="height: 100%; width:100%; min-width:480px ">
			    <div class = "w3-display-top-left">
				    <div  style = "width:100%">
					    <img src = "{% static '/images/lavernia2.png' %}" style = "width:25%"  >
					    <div class = "w3-container">
						    <h4 class = "name"><b>Distinguised Professor Enrique Lavernia</b></h4>

					    </div>
				    </div>
			    </div>
		    </div>
	    </div>

	    <div class= "w3 container" style="margin-right: 200px; margin-left: 200px; margin: 0 auto;">
		    <div class ="w3-display-container w3-white" style="height: 100%; width:100%; min-width:480px ">
			    <div class = "w3-display-top-left">
				    <div style = "width:100%">
					    <img src = "{% static '/images/Yizhang Zhou.jpg' %}" style = "width:25%"  >
					    <div class = "w3-container">
						    <h4 class = "name"><b> Dr. Yizhang Zhou</b></h4>
						    <p class="title">Senior Staff Scientist</p>
					    </div>
				    </div>
			    </div>
		    </div>

	    </div>
	    <div class= "w3 container" style="margin-right: 200px; margin-left: 200px; margin: 0 auto;">
		    <div class ="w3-display-container w3-white" style="height: 100%; width:100%; min-width:480px; overflow:auto;">
		    	<div class = "w3-display-top-left">
			    	<div style = "width:100%">
				    	<img src = "{% static '/images/Ben Macdonald.jpg' %}" style = "width:25%"  >
					    <div class = "w3-container">
				    		<h4 class="name"><b> Benjamin MacDonald </b></h4>
					    	<p class"title">PhD in MSE</p>
				    	</div>
			    	</div>
			    </div>
			    <div class="w3-display-topmiddle" style="margin-right: 100px;width: 25%;">

			    	<div style="margin-left: -100px;">
			    		<h3>bemacdon@uci.edu</h3>
			    		<div style="width: 200%">
			    		<p class="bio" style="color:#000000; font-family: 'Raleway', sans-serif;font-size: 18px;white-space:pre-line; block:inline; ">Benjamin pursues his graduate studies through investigation of
				    fundamental phenomena in a novel materials systems, high entropy alloys.</p>
				    </div>
				    </div>
			    </div>
	    	</div>
	    </div>
	    <div class= "w3 container" style="margin-right: 200px; margin-left: 200px; margin: 0 auto;">
		    <div class ="w3-display-container w3-white" style="height: 100%;  width:100%; min-width:480px;">
			    <div class = "w3-display-top-left">
				    <div  style = "width:100%">
					    <img src = "{% static '/images/James Haley.jpg' %}" style = "width:25%"  >
					    <div class = "w3-container">
						    <h4 class = "name"><b> James Haley </b></h4>
						    <p class = "title">PhD in MSE</p>
					    </div>
				    </div>
			    </div>
			    <div class="w3-display-topmiddle" style="margin-right: 100px;">
			    	<div style="margin-left: 285px;">
			    	<h3>jchaley@uci.edu</h3>
			    	<div style="width: 200%;">
			    	  <p class="bio" style="color:#000000; font-family: 'Raleway', sans-serif; font-size: 18px;white-space:pre-line; block:inline;width:25%;">James recently transferred from UC Davis, explores understanding of the materials procesing<br> in additive manufacturing, an emerging disruptive technology</p>
			    	 </div>
			    	</div>
			    </div>
		    </div>
	    </div>
	    <div class= "w3 container" style="margin-right: 200px; margin-left: 200px; margin: 0 auto;">
		    <div class ="w3-display-container w3-white" style="height: 100%; width:100%; min-width:480px; overflow:auto;">
			    <div class = "w3-display-top-left">
				    <div  style = "width:100%">
					    <img src = "{% static '/images/Zhiqiang Fu.jpg' %}" style = "width:25%"  >
					    <div class = "w3-container">
						    <h4 class = "name"><b> Zhiqiang Fu </b></h4>
						    <p class = "title">Postdoctoral Researcher</p>
					    </div>
				    </div>
			    </div>
			    <div class="w3-display-topmiddle" style="margin-right: 100px; width: 25%;">
			    	<div style="margin-left: -100px;">
			    	<h3>zhiqianf@uci.edu</h3>
			    	<div style="width: 200%;">
			    		<p class="bio" style="color:#000000; font-family: 'Raleway', sans-serif; font-size: 18px;white-space:pre-line; block:inline;">Joined Professor Lavernia's research group in August 2014 as a joint Ph.D. student. He returned as a postdoctoral researcher after he got his Ph.D degree from China in December 2015. Now he conducts research and development of novel nanostructured materials including performance of materials processing/synthesis, microstructural analysis and mechanical characterization</p>
			    	</div>
			    	</div>
			    </div>

		    </div>
	    </div>
	    <div id = "Baolong">
	    <div class= "w3 container" style="margin-right: 200px; margin-left: 200px; margin: 0 auto;">
		    <div class ="w3-display-container w3-white" style="height: 100%; width:100%; min-width:480px; overflow:auto;">
			    <div class = "w3-display-top-left">
				    <div style = "width:100%; height:100%">
					    <img src = "{% static '/images/Boalong Zheng.jpg' %}" style = "width:25%"  >
					    <div class = "w3-container">
						    <h4 class = "name"><b> Baolong Zheng </b></h4>
						    <p class="title">Assistant Project Scientist</p>
					    </div>
				    </div>
			    </div>
			    <div class="w3-display-topmiddle" style="margin-right: 100px; width: 25%">
			    <div style="margin-left: -100px;">
			    	<h3>baolongz@uci.edu</h3>
			    	<div style="width: 200%;">
			    		<p class="bio"  style="color:#000000; font-family: 'Raleway', sans-serif; white-space:pre-line; block:inline; font-size: 18px; ">Joined Professor Lavernia's research group as a student January 2002 and received his Ph.D degreee in June 2006. He has extensive experience in materials processing and characterization, including development of non-equilibrium(nanocrystalline and amorphous) structured novel alloys and composites with laser based additive manufacuring, gas atomization and spray forming, mechanical milling and alloying, spark plasma sintering, coating, extrusion and rolling, etc.</p>
			    	</div>
			    </div>
			    </div>
		    </div>
	    </div>
	    </div>
	    <div class= "w3 container" style="margin-right: 200px; margin-left: 200px; margin: 0 auto;">
		    <div class ="w3-display-container w3-white" style="height: 100%; width:100%; min-width:480px; overflow:auto;">
			    <div class = "w3-display-top-left">
				    <div style = "width:100%;">
					    <img src = "{% static '/images/Wei Zeng.jpg' %}" style = "width:25%"  >
					    <div class = "w3-container">
						    <h4 class="name"><b> Wei Zeng </b></h4>
						    <p class="title">Visiting Ph.D candidate</p>
					    </div>
				    </div>
			    </div>
			    <div class="w3-display-topmiddle" style="margin-right: 100px; width: 25%;">
			    	<div style="margin-left: -100px;">
			    	<h3>zengw4f@uci.edu</h3>
			    	<div style="width: 200%">
				    <p class="bio" style="color:#000000; font-family: 'Raleway', sans-serif;white-space:pre-line; block:inline; font-size: 18px;">Visiting from Shanghai Jiaotong University in China, his research focuses on synthesizing nanocrystalline Cu-NbC nanocomposite with excellent mechanical properties and high electrical conductivity and the strengthening/deformation mechanisms behind these superb properties.</p>
				    </div>
			    </div>
		  	</div>
	    </div>
		</div>
	    <div class= "w3 container" style="margin-right: 200px; margin-left: 200px; margin: 0 auto;">
		    <div class ="w3-display-container w3-white" style="height: 100%; width:100%; min-width:480px; overflow:auto; ">
			    <div class = "w3-display-top-left">
				    <div  style = "width:100%;">
					    <img src = "{% static '/images/Chuandong Wu.jpg' %}" style = "width:25%"  >
					    <div class = "w3-container">
						    <h4 class="name"><b> Chuandong Wu </b></h4>
						    <p class="title">Visiting Ph.D candidate</p>
					    </div>
				    </div>
			    </div>
			    <div class="w3-display-topmiddle" style="width: 25%;" >
			    	<div style="margin-left: -100px;">
			    	<h3>chuandow@uci.edu</h3>
			    	<div style="width: 200%;">
			    	 <p class="big" style="color:#000000; font-family: 'Raleway', sans-serif;font-size: 18px;white-space:pre-line; block:inline;">
			    	 Visiting from Wuhan University of Technology(China), he conducts research on the processing-structure-property relationship in nano-/ultrafine-/coarse-grained Al matrix composites as well as the comprehensive understanding of the interaction between the dislocations and previpitates in the precipitation-strengthened Al alloy.</p>
			    	 </div>

			    	</div>
			    </div>
		    </div>
	    </div>
	    <div class= "w3 container" style="margin-right: 200px; margin-left: 200px; margin: 0 auto;">
		    <div class ="w3-display-container w3-white" style="height: 100%;  width:100%; min-width:480px; overflow:auto; ">
			    <div class = "w3-display-top-left">
				    <div style = "width:100%">
					    <img src = "{% static '/images/Yanle Sun.jpg' %}" style = "width:25%"  >
					<div class = "w3-container">
						<h4 class="name"><b> Yanle Sun </b></h4>
						<p class="title">Visiting Ph.D candidate</p>

				    </div>
			    </div>
			    <div class="w3-display-topmiddle" style="margin-right: 100px; width: 25%;">
			    	<div style="margin-left: -100px;">
			    	
			    	<h3>yanles@uci.edu</h3>
			    	<div style="width: 200%">
			    	 	<p class="bio" style="color:#000000; font-family: 'Raleway', sans-serif;white-space:pre-line; block:inline; font-size: 18px;">Visiting from Shanghai Jiaotong University his research focuses on the structure-property relationship, thermal stability, and precipitation behavior in nano-/ultrafine grained Ni-based alloy</p>
			    	</div>
			    </div>

		    </div>
	    </div>
	   </div>
	</div>
	    <div class= "w3 container" style="margin-right: 200px; margin-left: 200px; margin: 0 auto;">
		    <div class ="w3-display-container w3-white" style="height: 100%; width:100%; min-width:480px;overflow:auto; ">
			    <div class = "w3-display-top-left">
				    <div style = "width:100%">
					    <img src = "{% static '/images/Stoney Middleton.jpg' %}" style = "width:25%"  >
					    <div class = "w3-container">
						    <h4 class="name"><b> Stoney Middleton </b></h4>
						    <p class="title">Master's Student</p>
					    </div>
				    </div>
			    </div>

			     <div class="w3-display-topmiddle" style="margin-right: 100px; width: 25%;">
			     <div style="margin-left: -100px;">
			    	<h3>samiddle@uci.edu</h3>
			    	<div style="width: 200%;">
				    	<p class="bio" style="color:#000000; font-family: 'Raleway', sans-serif;white-space:pre-line; block:inline; font-size: 18px;">Recently graduated from UCI with a bachelor's in material science engineering. Now a master's student investigating thermodynamics and kinetic behavior of diffusion in titanium alloys with applied electric fields.</p>
				    </div>
			    </div>
		    </div>
	    </div>
	 </div>
</body>
