{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
{% include 'main/header.html' %}
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
<link rel="stylesheet" type="text/css" href="{% static '/css/main.css' %}"/>
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
</head>
<body>
	<div class="media">
	<img class = "d-flex align-self-start mr-3" src="{% static '/images/UnderConstruct.jpg' %}" style="width: 25%; height: 100%">
	<div class="media-body">
		<h1 class="display-6" style="color:#2E5990;">NSF DMREF: Engineering Strength and Thougness into Metals</h1>
		<p class="h4"><b>Co Pls:</b> Julie M. Schoenung, Subhash Mahajan, UC Davis; Mo Li, Georgia Tech</p>
		<p class="h4">Collaborators: </b>Dr. Irene Beyerlein, Los Alamos National Laboratory; Prof. Tim Rupert, UC Irvine</p>
		<ul>
			<li class="lead">Solving the long-standing problem of strengthening and toughening in HCP polycrystalline metals via a novel concept of “twin mesh engineering.”</li>
			<li class="lead">A synergistic experimental-modelling approach aims to understand, (1) Nucleation and growth of twins, (2) Interactions between slip and twinning, and (3) Twin-twin interactions </li>
		</ul>

		
	</div>

</html>