sup, sub{
	vertical-align: baseline;
	position: relative;
	top: -0.4em;
}

sub{
	top: 0.4em;
}
body{
	font-family: Tahoma;

}
h1{
	font-size: 36px;
	color: white;
}
a:visited{
	text-decoration: none;
	color: #335379;
}
a:link{
	text-decoration: underline;
	color: #002855;
}
a:hover{
	text-decoration: none;
	color: #DAA000
}
body{
	font-family: Tahoma;
	background-color: #F7F5E6;

}
body p
{
	color : #333A56;
}
body ul li
{
	color: #333A56;
}
.name_link
{
	text-decoration:  none;

	
}
#sign
{
	right: -400px;
	position: relative;
	top:50px;
}
#banner
{
	position: absolute;
	top:0;
	left:0;
	background-color: #F7F5E6;
	min-width: 960px;
	width: 100%;
	height:125px;
	padding: 0;
	z-index: 1;
}
#banner-content
{
	width: 400px;
	margin: 0;
	padding: 20px;
	border: 0px solid #000;
	color: white;
	font-size: 28px;
	font-family: Georgia;
	font-weight: lighter;
	
}
#banner-image
{

	float: right;
	position: relative;
	top: -100px;
	right:90px;
	padding: 0px;
	height : 200px;
	width: 300px;

}
#banner-image2
{
	float: right;
	position: relative;
	top: -300px;
	right: -1120px;
	padding: 0px;
	height: 200px;
	
}
#cssmenu
{
    z-index: 0;
	width: 100%;
	min-width: 960px;
	display: block;
	padding: 0;
	margin: 0;
	border: 1px solid;
	border-radius: 5px;
	margin-top:203px;
	background-color: #333A56;
	

}
#cssmenu > ul 
{
	z-index: 0;
	list-style-type: none;
	padding:0;
	margin: 0;
	overflow: hidden;



}
#cssmenu > ul > li
{
	z-index: 0;
	list-style: inside none;
	padding:0;
	margin: 0;
	float: left;
	display: block;
	position: relative;
}
#cssmenu > ul > li > a
{
	z-index: 0;
	width: 120px
	outline: none;
	display: block;
	position: relative;
	padding: 12px 20px;
	font: bold 18 px Arial, Helvetica, sans-serif;
	text-align: center;
	text-decoration: none;
	text-shadow: 1px 1px 0 rgba(0,0,0,0.4);
}
#cssmenu > ul > li > a > span
{
	color: #E8E8E8;
}
#cssmenu > ul >  li > a > span :hover {
	color: #002855;
}

#cssmenu > ul > li:first-child > a {
	border-radius: 5px 0 0 5px;
}

#cssmenu >  ul > li > a:after {
	content: '';
	position: absolute;
	border-right: 1px solid;
	top: -1px;
	bottom: -1px;
	right: -2px;
	z-index: 99;
}

#cssmenu > ul > li.has-sub:hover >  a:after {
	top: 0;
	bottom: 0;
}

#cssmenu  ul >  li.has-sub > a:before {
	content: '';
	position: absolute;
	top: 18px;
	right: 6px;
	border: 5px solid transparent;
	border-top: 5px solid #fff;
}

#cssmenu  ul > li.has-sub:hover > a:before {
	top: 19px;
}

#cssmenu ul  li.has-sub:hover > a {
	background: #111111;
	border-color: #3f3f3f;
	padding-bottom: 13px;
	padding-top: 13px;
	top: -1px;
	z-index: 999;
}

#cssmenu ul  li.has-sub:hover >  ul,#cssmenu ul li.has-sub:hover >  div {
	display: block;
}

#cssmenu ul li.has-sub >  a:hover {
	background: #111111;
	border-color: #3f3f3f;
	color: #002855;
}

#cssmenu ul li > ul,#cssmenu ul li > div {
	display: none;
	width: auto;
	position: absolute;
	top: 38px;
	padding: 10px 0;
	background: #3f3f3f;
	border-radius: 0 0 5px 5px;
	z-index: 999;
}

#cssmenu ul li > ul {
	width: 200px;
}

#cssmenu ul li > ul li {
	display: block;
	list-style: inside none;
	padding: 0;
	margin: 0;
	position: relative;
}

#cssmenu ul li > ul li a {
	outline: none;
	display: block;
	position: relative;
	margin: 0;
	padding: 8px 20px;
	font: 10pt Arial, Helvetica, sans-serif;
	color: #fff;
	text-decoration: none;
	text-shadow: 1px 1px 0 rgba(0,0,0, 0.5);
}

#cssmenu,#cssmenu > ul > li > ul > li a:hover {
	background: #333A56;

	background: -webkit-linear-gradient(top, #333A56 0%, #222222 100%);
	background: -moz-linear-gradient(top, #333333 0%, #222222 100%);
	background: -o-linear-gradient(top, #333333 0%, #222222 100%);
	background: -ms-linear-gradient(top, #333333 0%, #222222 100%);
	background: linear-gradient(top, #333333 0%, #222222 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#333333', endColorstr='#222222',GradientType=0 );
}

#cssmenu {
	border-color: #000;
}

#cssmenu > ul >li > a {
	border-right: 1px solid #000;
	color: #fff;
}

#cssmenu > ul > li > a:after {
	border-color: #444;
}

#cssmenu > ul > li > a:hover {
	background: #111;
}
#header
{
	text-align: center;
	color:#2E5990;
	font-family: 'Raleway', sans-serif;
	font-weight: bold;
	font-size: 40px;
}
#intro
{
	text-align: center;
	color: #2E5990;

} 
.list-element
{
	text-align: center;
	color: #2E5990;

}

